/Adicionar as propirdades margin e padding no seletor universal (asterisco)/
*{
    margin: 0;
    padding: 0;
}
/iniciar seção cabeçalho/

.cabecalho{
    background-color: rgb(120, 66, 170);
    color:rgb(197, 32, 183);
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 24px 0;
}


.cabecalho-imagem{
    width: 8%;
    border-radius: 22px; /para definir bordas arredondadas na imagem/
}

/*a lista não ordenada ul precisa estar alinhada em uma única linha.
crie um seletor para a classe .cabecalho-lista-item, adicionando nele a propiedade display com o valor inline;*/
/aumente os espaçamentos entre os textos com a propiedade margin de valor 0 16x:/
/aumente a fonte através da propiedade font-size de valor 24px./


.cabecalho-lista-item {
    display: inline-block;
    margin: 0 16px;
    font-size: 24px;
}

.cabecalho-lista-item a{
    text-decoration: none;
    color:aliceblue; /cor/
}

/efeito alterara a cor quando passa o mouse/
a:houver{
    color:rgb(235, 53, 153);
}

/efeito alterar a cor quando clicar com o mouse/
a:active{
    color:cyan(105,144,216 );
}


/iniciar seção escola/

/crie um seletor(.) para a classe escola-imagem, determinando uma largura width de 25%:/
.escola-imagem{
    width:25;/largura/
    height:300px;/altura/
    border-radius: 82px;/para definirbordas arredondadas da imagem/
}

/**/
.escola{
    background-image: linear-gradient(#e24ee2, #fb16b6);
    color:rgb(219, 57, 206)
    display:flex;
    justify-content:center;
    align-items: center;
    padding:24px 0;
    
}

/**/
.escola-div-conteúdo{
    width: 45%;
}

/**/
.escola-titulo{
    padding: 24px 0;
}

/**/
p{
    padding: 0 40px;/alinhar o espaçamento/
    font-size: 20px:/tamanho da fonte/
    font-family: arial, helvetica, sans-serif;/especifica a fonte de um elemento/
}
/*inicio seção escola*/
.ECOLA{
    BACKGROUND-image: linear-gradient(#424e61,#16a5f8); /*define um gradiente linear como a imagem de fundo*/
    color:#880088; /*cor*/
    display: flex; /*organizar a estrutura do nosso conteudo*/
    justify-content: center; /*alinha imagem e os textos com espaçamentos entre eles*/
    padding: 24px 0; /*altera o espaçamento interno*/
}

.escola-div-conteudo{
    width: 45%; /*largure*/
    color #880088;/*cor*/
}

.escola-titulo{
    padding: 24px 0; /*altera o espaçamento interno,o primeiro valor bordas verticais (superior e inferior) e o segundo valor bordas horizontais (esquerda e direita)*/
    font-site: 25px;/*tamanho da fonte*/
}

.escola-texto{
    fony-site: 20px/*tamanho da fonte*/

}

.imagem-escola{
    width: 30%; /*largura*/
    height: 300px;/*altura*/
    border-radius: 82px; /*para definir bordas arredondadas da imagem*/
}
/*fim seçao escola*/
body{
    font-family: 'poppins',sans-serif;
}
.cabecalho {
    background-color: #ff1493;
    color: aliceblue;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 24px 0;
}

.cabecalho-imagem{
    width: 8%;
    border-radius: 22px;
}

.cabecalho-lista-item{
    display: inline-block;
    margin: 0 16px;
    font-size: 24px;
}

.cabecalho-lista-item a{
    text-decoration: none;
    color: aliceblue;
}

a:hover{
    color: blueviolet;
}

a:active{
    color: darkmagenta;
}

.escola{
   background-image: linear-gradient(#ff1493 ,hwb(328 62% 5% / 0.685));
   color: aliceblue;
   display: flex;
   justify-content: center;
   padding: 24px 0;
}

.escola-div-conteudo{
    width: 45%;
    color: black;
}

.escola-titulo{
    padding: 24px 0;
}

p{
    padding: 0 40px;
    font-size: 20px;
    font-family: Arial, Helvetica, sans-serif;
}

.escola-imagem{
    width: 30%;
    height: 300px;
    border-radius: 82px;
}


.estudante-imagem{
    width: 120px;
}

.estudante{
    background-color: #ff1493;
    color: black;
}

.escola-titulo {
    padding: 24px 0;
    margin: 0 120px;
    font-size: 25px;
    font-family: Arial, Helvetica, sans-serif;
}

.estudante-todos {
    display: grid;
    grid-template-columns: 25% 25% 25% 25%;
    padding: 0 60px;

}

.estudante-div{
    text-align: center;
    padding: 12px 0;
}

.estudante-imagem{
    width: 120px;
}

.estudante-nome{
    font-size: 14px;
}

.estudante-icone{
    width: 24px;
    padding: 4px 8px;
}


.rodape{
    background-image: linear-gradient(#ff1493, hsla(328, 100%, 54%, 0.39));
}

.copyright{
text-align: center;
height: 100%;
line-height: 100px;
font-size: 12px;
}